:root {
    --bg-colour: #FFFFFF19;
    --text-color: #ffffff;
}

#Initial-Content,
.content-wrapper {
    padding: 20px;
    color: var(--text-color);
    font-family: var(--font-primary), sans-serif;
}


#table-container {
    padding: 60px 10%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    animation: slideFadeIn 1s ease-out forwards;
}

table {
    width: 100%;
    max-width: 900px;
    border-collapse: collapse;
    background-color: var(--bg-colour);
    border-radius: 12px;
    overflow: hidden;
    font-family: var(--font-primary), sans-serif;
}

th, td {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid #FFFFFF19
}

th {
    font-weight: bold;
    color: var(--accent-color);
    font-size: 18px;
}

td {
    font-size: 16px;
}



.about-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;
    text-align: center;
}

.about-text {
    max-width: 800px;
    animation: slideFadeIn 1s ease-out forwards;
    opacity: 0;
    color: var(--text-color);
}

.about-text h1 {
    font-size: 48px;
    margin-bottom: 30px;
    font-family: var(--font-primary), sans-serif;
    color: var(--accent-color);
}

.about-text p {
    font-size: 20px;
    line-height: 1.8;
    font-family: var(--font-primary), sans-serif;
    color: var(--text-color);
}


@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.about-mission, .about-values {
    padding: 80px 10%;
    text-align: center;
    font-family: var(--font-primary), sans-serif;
    animation: slideFadeIn 1s ease-out forwards;
}

.about-mission h2,
.about-values h2 {
    font-size: 36px;
    color: var(--accent-color);
    margin-bottom: 30px;
}

.about-mission p {
    font-size: 18px;
    line-height: 1.8;
    color: var(--text-color);
    max-width: 900px;
    margin: 0 auto;
}


.value-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    background-color: var(--bg-colour);
    padding: 35px;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 350px;

    h3 {
        color: var(--accent-color);
        margin-bottom: 20px;
        font-size: 24px;
    }
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {

}

.card p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.6;
}
