/*
This is SO FUCKED
the image header needs to be rebuilt to only take up the intended amount of space, but all attempts to do
have resulted in total failure.
TODO: Fix this shitty code
 */
.img-container {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}

.img-container img {
    width: 98%; /* The website is wider than the browser can display without scrolling horizontally unless set to 98%,
                   I assume this is the paddings fault*/
    max-height: 1160px;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    border-radius: 50px;
}
#company-logo {
    position: absolute;
    bottom: 30px; /* adjust as needed */
    right: 30px;  /* adjust as needed */
    width: 150px; /* or any appropriate size */
    height: auto;
}


#cover-image-header,
#cover-image-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    width: max-content;
    padding: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    font-family: var(--font-primary), sans-serif;
}

#cover-image-header {
    top: 35%;
    font-size: 3em;
}

#cover-image-text {
    /*
    TODO: BUG; On small screens this appears as inside the header text
     */
    top: 45%;
    font-size: 1.2em;
}

#intro-text,
#fold-text {
    display: block;
    text-align: center;
    margin: 20px;
    font-family: var(--font-primary), sans-serif;
    color: white;
}

#intro-text {
    font-size: 16px;

}

#fold-text {
    font-size: 32px;
}

#secondary-container img{
    width: 2000px;
    border-radius: 50px;
    padding: 20px;
}
/*
a bit tired when this was written, it probably has redundant margins and padding and stuff
 */
#secondary-container {
    color: white;
    font-family: var(--font-primary), sans-serif;
    display: flex;
    justify-content: left;
    background: #212020;
    border-radius: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    p, h2 {
        padding-left: 50px;
    }

}