.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    max-width: 45%;
    max-height: 45%;
    position: relative;
    text-align: center;
}

body{
    background-color: #000;
}

#intro-text {
    display: block;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: Inter, sans-serif;
    margin: 20px;
}
#fold-text {
    display: block;
    text-align: center;
    color: white;
    font-size: 32px;
    font-family: "Inter Semi Bold", sans-serif;
}
#cover-image-header {
    position: absolute;
    top: 50%;
    bottom: 50%;
    font-family: "Inter Semi Bold", sans-serif;
    font-size: 20px;
    color:  white;
}