:root {
    /*TODO: Overhaul the colour scheme to fit the brand */
    --primary-colour: #41639C;
    --secondary-colour: #020024;
    --accent-color: #FFE900;
    --font-primary: 'sweet-square-pro'; /*TODO: Investigate alternative fonts, try SquaresBold */
}

body{
    background-color: #000;
}

.topnav {
    background-color: #262626;
    overflow: hidden;
    padding: 5px;
    border-radius: 25px;
    margin: 20px;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--font-primary), sans-serif;
    border-radius: 25px;
    margin: 5px;
    background-color: #212121;
}

.topnav a:hover {
    background-color: var(--accent-color);
    color: black;
}

.topnav a.active {
/*
Add a color to the active/current link
*/
    background-color: var(--primary-colour);
    color: white;
}

.topnav a.login {
/*
this is temp code for what will (if I bother) display a pfp and user
in the future. (placeholder username and pfp)
*/
    float: right;
    background-color: #212121;
    border-radius: 25px;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: var(--font-primary), sans-serif;
    color: white;
}
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    text-align: center;
    padding: 15px 100px;
    background-color: #100f0f;
    color: #ffffff;
    font-family: 'inter', sans-serif;
    font-size: 18px;

    p {
        text-decoration: underline;
        text-decoration-color: var(--accent-color);
        text-decoration-thickness: 4px;
        text-underline-offset: 5px;
        padding: 10px;
    }

    .form-link {
        text-decoration: underline;
        text-decoration-color: var(--accent-color);
        text-decoration-thickness: 4px;
        text-underline-offset: 5px;
        padding: 10px;
        color: white;
    }

    .form-link:hover {
        text-decoration-color: var(--primary-colour);
    }
}