:root {
    --bg-color: #030303;
    --text-color: #ffffff;
    --primary-colour: #0600c2;
    --secondary-colour: #020024;
    --accent-color: #12cda1;
    --button-color-1: #0600c2;
    --button-color-2: #12cda1;
}
/*
    Add a black background color to the top navigation
*/
.topnav {
    background-color: #262626;
    overflow: hidden;
    padding: 5px;
    border-radius: 25px;
    margin: 20px;
}

/*
    Style the links inside the navigation bar
    gives each link a button
*/
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Inter, sans-serif;
    border-radius: 25px;
    margin: 5px;
    background-color: #212121;
}

/*
    Changes the color of links on hover
*/
.topnav a:hover {
    background-color: var(--accent-color);
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--primary-colour);
    color: white;
}
/*
    this is temp code for what will (if I bother) display a pfp and user
    in the future. (placholder username and pfp, unless i make a backend)
*/
.topnav a.login {
    float: right;
    background-color: #212121;
    border-radius: 25px;
    margin: 5px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Inter, sans-serif;
    color: white;

}